/* Removes all margins */
* {
    margin: 0;
}

body {
    background-color: aliceblue;
}

/* header */

.menu {
    background-color: rgb(255, 245, 230);
    border-bottom: 5px dotted salmon;
    display: grid;
    grid-template-columns: 0fr 2fr; /* Grid, Logo to the corner and nav aside to the right */
    height: 120px;
    align-items: center; /* Center vertically */
    box-shadow: 9px 7px 17px salmon; 
}

.menu:hover {
    box-shadow: 9px 7px 9px salmon; 
}

/* Logo */

img {
    width: 100px; /* Smaller logo */
}

/* Nav Section */

.menu_item {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    padding: 0 20px;
    word-spacing: 10px;

}

.menu_item-active {
    color: salmon;
    text-decoration: dashed; /* Clears link default aspect */
}

.menu_item-active:hover {
    text-shadow: 4px 8px 10px rgb(255, 102, 0); /* cast a shadow on hover */
}

