body{
    background-color: #F7F7F7; /*this changes the color, really. But looks like white, though*/
}

h1 {
    color: darkcyan; /*the title change for darkcyan and make font little bit smaller*/
    font-size: 28px;
}