body{
    background-color: #F7F7F7; /*this changes the color, really. But looks like white, though*/
}

h1 {
    color: darkcyan; /*the title change for darkcyan and make font little bit smaller*/
    font-size: 28px;
}

.card {
    border: 1px solid black;
    padding: 16px;
}

#hero {
    min-height: 300px;
    text-align: center;
}