* {
    margin: 0;
}

body {
    background-color: beige;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Encabezado */

header {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    height: 120px;
    background-color: salmon;
    align-items: center;
    position: sticky;
    top: 0;
}

header img {
    height: 80px;
    padding: 0 15px;
}

header nav {
    padding-right: 25px;
}

/* CONTENIDO */

    /*Info*/

#info {
    margin: 15px;
    border: 5px double rgb(163, 106, 0);
    padding: 10px;
    font-size: 2rem;
    text-align: justify;
}

#info h2 {
    font-size: 48px;
    text-align: center;
    padding-bottom: 20px;
}

/* CLASES*/

#clases {
    margin: 30px;
    font-size: 1.5rem;
}

/*CONTACTO*/

#contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}

.contacto-column {
    gap: 30px;
    width: 250px;
    border: 2px solid salmon;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
}

input[type="text"] {
    border-radius: 10px;
}

h1,h2,h3 {
    text-shadow: 2px 2px 5px salmon;
}

#caja {
    border: 1px solid black;
    width: 400px;
}

#bBox {
    background-color: aquamarine;
    width: 250px;
    height: 250px;
    box-sizing: border-box;

    padding: 40px;
    font-size: 24px;
    border: 5px dotted blue;
    margin: 50px;

}

#cBox {
    background-color: rgb(180, 152, 111);
    width: 250px;
    height: 250px;
    box-sizing: content-box;
    padding: 40px;
    font-size: 24px;
    border: 5px dotted blue;
    margin: 50px;

}

/*FOOTER*/

footer {
    height: 70px;
    background-color: chocolate;
    text-align: center;
    align-content: center;
}

header a,footer a {
    color: azure;
    text-decoration: none;
}

